<nav>
  <a class="nav-logo" href="https://batmancarpero.com">BatmanCarpero</a>
  <ul class="nav-links">
    <li><a href="https://batmancarpero.com/#about" data-path="/#about">About</a></li>
    <li><a href="https://batmancarpero.com/#mods" data-path="/#mods">Mods</a></li>
    <li><a href="https://batmancarpero.com/#contact" data-path="/#contact">Contact</a></li>
    <li><a href="https://batmancarpero.com/gallery/" data-path="/gallery/">Gallery</a></li>
  </ul>
  <button class="nav-burger" aria-label="Toggle menu" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
<ul class="nav-mobile-menu">
  <li><a href="https://batmancarpero.com/#about" data-path="/#about">About</a></li>
  <li><a href="https://batmancarpero.com/#mods" data-path="/#mods">Mods</a></li>
  <li><a href="https://batmancarpero.com/#contact" data-path="/#contact">Contact</a></li>
  <li><a href="https://batmancarpero.com/gallery/" data-path="/gallery/">Gallery</a></li>
</ul>